#main {
    width: 550px;
    height: 300px;

    border: 2px solid lightslategray;
    border-radius: 20px;
    text-align: -webkit-center;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 25%;
    left: 0;

    margin: auto;

    min-width: 550px;
    min-height: 300px;

    max-width: 100%;
    max-height: 100%;
}

.form-container {
    float: left;
    width: 273px;
    height: 100%;
}

#login {
    border-right: 1px solid gray;
}

#register {
    border-left: 1px solid gray;
}

.form-container button {
    margin-top: 5px;
}

.form-container input {
    margin-top: 2px;
}